.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 16px;
  color: rgb(135, 135, 135);
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .form-control {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.WeatherTemperature .fahrenheit {
  color: #8866f3;
}

.WeatherInfo h1 {
  color: black;
  margin: 20px 0 0 0;
  font-size: 38px;
  font-weight: bold;
  line-height: 29px;
}
.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  font-weight: 500;
  color: #885df1;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33 33 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.Weather .unit {
  color: #8866f3;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

.App footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.App footer a {
  color: #885df1;
}
